.navLinkConatainner{
    width: 10rem;
    background-color: rgb(11, 30, 123);
    list-style: none;
    height: 88vh;
}
.navLinkConatainner a {
    text-decoration: none;
    padding: 20px 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.logoContainner{
    width: 20px;
}
.mainContainner{
    display: flex;
    align-items: center;
}